---
import TechnologyNav from './TechnologyNav.astro';
import { technology } from '../data.json';

const { techName, techLink } = Astro.props;
const [tech] = technology.filter((tech) => tech.name === techName);
const images = import.meta.glob<{ default: ImageMetadata }>(
  '../assets/technology/*.jpg'
);

const landPromise = await images[tech.images.landscape]();
const landscape = landPromise.default.src;
const portraitPromise = await images[tech.images.portrait]();
const portrait = portraitPromise.default.src;
---

<style>
  .tech__heading {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    color: var(--white);
  }

  .tech__heading--opacity {
    opacity: 0.25;
  }

  .tech__media {
    padding: 3rem 0;
  }

  .tech__image {
    /* TODO: CHECK */
    object-fit: cover;
    min-height: 17rem;
  }

  .tech__terminology,
  .tech__name {
    text-align: center;
  }

  .tech__specs {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2.5rem 0;
  }

  .tech__description {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 0 3rem;
  }
</style>

<section class="tech">
  <h5 class="tech__heading">
    <span class="tech__heading--opacity">03</span> Space launch 101
  </h5>

  <div class="tech__content">
    <div class="tech__media">
      <!-- <img src={imagePrueba.src} alt="launch vehicle" class="tech__image" /> -->

      <picture>
        <source media="(max-width: 767px)" srcset={landscape} />
        <source media="(min-width: 768px)" srcset={portrait} />
        <img src={portrait} alt={tech.name} class="tech__image" />
      </picture>
    </div>

    <div class="tech__info">
      <TechnologyNav techLink={techLink} />

      <div class="tech__specs">
        <h5 class="tech__terminology subheading-2">The terminology...</h5>
        <h3 class="tech__name">{tech.name}</h3>
        <p class="tech__description">{tech.description}</p>
      </div>
    </div>
  </div>
</section>
